# Project exclude paths
/.gradle/
/Cinema Room Manager/task/build/
/Cinema Room Manager/task/out/
/Cinema Room Manager/task/out/production/classes/
/Problems/Avoid division by zero/out/
/Problems/Avoid division by zero/out/production/classes/
/Problems/Avoid NPE/out/
/Problems/Avoid NPE/out/production/classes/
/Problems/Avoid NPE with strings/out/
/Problems/Avoid NPE with strings/out/production/classes/
/Problems/Out of bounds_/out/
/Problems/Out of bounds_/out/production/classes/